body{
    background-color: aqua;
}

h1{
    text-align: center;
    margin-top: 5%;
    background-color: yellowgreen;
    color: red;
}

img{
    width: 200px;
    height: 300px;
    margin: 7% 10% 10% 7%;
    float: left;
    border: 8px solid rgb(178, 12, 95);
}
